<?xml version="1.0" encoding="UTF-8"?>
<web-app>

   <context-param>
      <param-name>resteasy.role.based.security</param-name>
      <param-value>true</param-value>
   </context-param>
<!-- 
  <security-constraint>
      <web-resource-collection>
         <web-resource-name>Resteasy</web-resource-name>
         <url-pattern>/*</url-pattern>
      </web-resource-collection>
       <auth-constraint>
         <role-name>ADMIN</role-name>
         <role-name>USER</role-name>
      </auth-constraint>
  </security-constraint>

  
 <login-config>
      <auth-method>BASIC</auth-method>
      <realm-name>circle-application-domain</realm-name>
   </login-config> 

   <security-role>
      <role-name>ADMIN</role-name>
   </security-role>
   <security-role>
      <role-name>USER</role-name>
   </security-role> -->

</web-app>